[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiodns = "*"
tortoise-orm = {extras = ["asyncpg"], version = "*"}
python-dotenv = "*"
pydantic = "*"
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
